<%= form_for(@guardian) do |f| %>
  <% if @guardian.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@guardian.errors.count, "error") %> prohibited this guardian from being saved:</h2>

      <ul>
      <% @guardian.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
  <%
  families_array = Family.all.includes(:community).order("communities.name ASC", "families.name ASC").map{|f| ["#{f.community.try(:code)} - #{f.name}", f.id]}
  families_array.insert(0, ["", nil])
  %>
  <%= f.label :family_id, 'Family' %><br><%= f.select(:family_id, families_array) %>
  </div>
  <div class="field">
    <%= f.label :family_name1, 'Family Name 1' %><br>
    <%= f.text_field :family_name1 %>
  </div>
  <div class="field">
    <%= f.label :family_name2, 'Family Name 2' %><br>
    <%= f.text_field :family_name2 %>
  </div>
  <div class="field">
    <%= f.label :given_name1, 'Given Name 1' %><br>
    <%= f.text_field :given_name1 %>
  </div>
  <div class="field">
    <%= f.label :given_name2, 'Given Name 2' %><br>
    <%= f.text_field :given_name2 %>
  </div>
  <div class="field">
    <%= f.label :preferred_name, 'Preferred Name' %><br>
    <%= f.text_field :preferred_name %>
  </div>
  <div class="field">
  <%
  relationships_array = Guardian::RELATIONSHIPS_ARRAY.dup
  relationships_array.insert(0, ["", nil])
   %>
  <%= f.label :relationship, 'Relationship' %><br><%= f.select(:relationship, relationships_array) %>
  </div>
  <div class="field">
    <%= f.check_box :active %> <%= f.label :active %>
  </div>
  <div class="field">
    <%= f.check_box :primary %> <%= f.label :primary %>
  </div>
  <div class="field">
    <%= f.label :primary_phone, 'Primary Phone' %><br>
    <%= f.text_field :primary_phone %>
  </div>
  <div class="field">
    <%= f.label :secondary_phone, 'Secondary Phone' %><br>
    <%= f.text_field :secondary_phone %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
