<%= link_to 'Edit', edit_guardian_path(@guardian) %> |
<%= link_to 'Home', {controller: :welcome, action: :index} %> |
<%= link_to 'Family', @guardian.family %>

<h1>Guardian</h1>

<p id="notice"><%= notice %></p>

<p>
  <strong>Family:</strong>
  <%= link_to "#{@guardian.family.try(:community).try(:code)} - #{@guardian.family.try(:name)}", @guardian.family %>
</p>

<p>
  <strong>Family Names:</strong>
  <%= @guardian.family_name1 %> <%= @guardian.family_name2 %>
</p>

<p>
  <strong>Given Names:</strong>
  <%= @guardian.given_name1 %> <%= @guardian.given_name2 %>
</p>

<p>
  <strong>Preferred Name:</strong>
  <%= @guardian.preferred_name %>
</p>

<p>
  <strong>Relationship:</strong>
  <%= Guardian::RELATIONSHIPS_MAP[@guardian.relationship] %>
</p>

<p>
  <strong>Active:</strong>
  <%= @guardian.active %>
</p>

<p>
  <strong>Primary:</strong>
  <%= @guardian.primary %>
</p>

<p>
  <strong>Phones:</strong>
  <%= @guardian.primary_phone %> <%= @guardian.secondary_phone %>
</p>
