<%= form_for(@child) do |f| %>
  <% if @child.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@child.errors.count, "error") %> prohibited this child from being saved:</h2>

      <ul>
      <% @child.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :code %><br>
    <%= f.text_field :code %>
    <% if @child.family.try(:community).try(:id) %>
    <span style="font-size: 10px"><%= link_to 'Next Code', {controller: :communities, action: :next_code, id: @child.family.try(:community).try(:id)}, {"target" => "_blank"} %></span>
    <% end %>
  </div>

  <div class="field">
  <%
  families_array = Family.all.includes(:community).order("communities.name ASC", "families.name ASC").map{|f| ["#{f.community.try(:code)} - #{f.name}", f.id]}
  families_array.insert(0, ["", nil])
  %>
  <%= f.label :family_id, 'Family' %><br><%= f.select(:family_id, families_array) %>
  </div>
  <div style="clear:both;"></div>
  <div class="field float">
    <%= f.label :family_name1, "Family Name 1" %><br>
    <%= f.text_field :family_name1 %>
  </div>
  <div class="field float">
    <%= f.label :family_name2, "Family Name 2" %><br>
    <%= f.text_field :family_name2 %>
  </div>
  <div class="field float">
    <%= f.label :given_name1, "Given Name 1" %><br>
    <%= f.text_field :given_name1 %>
  </div>
  <div class="field float">
    <%= f.label :given_name2, "Given Name 2" %><br>
    <%= f.text_field :given_name2 %>
  </div>
  <div class="field float">
    <%= f.label :preferred_name, "Preferred Name" %><br>
    <%= f.text_field :preferred_name %>
  </div>
  <div style="clear:both;"></div>
  <div class="field">
    <%= f.label :dob, "Date of Birth" %><br>
    <%= f.date_select :dob, start_year: 1970, end_year: Date.today.year %>
  </div>
  <div style="clear:both;"></div>
  <div class="field float">
  <%
  statuses_array = Child::STATUSES_ARRAY.dup
  statuses_array.insert(0, ["", nil])
  %>
  <%= f.label :status, 'Status' %><br><%= f.select(:status, statuses_array) %>
  </div>
  <div class="field float">
  <%
  genders_array = Child::GENDERS_ARRAY.dup
  genders_array.insert(0, ["", nil])
  %>
  <%= f.label :gender, 'Gender' %><br><%= f.select(:gender, genders_array) %>
  </div>
  <div style="clear:both;"></div>
  <div class="field">
    <%= f.label :notes %><br>
    <%= f.text_area :notes, cols: 60, rows: 5 %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
