<%= link_to 'New', new_child_path %> | <%= link_to 'Home', {controller: :welcome, action: :index} %>

<h1>Children</h1>

<table>
  <thead>
    <tr>
      <th><%= t('code') %></th>
      <th><%= t('family') %></th>
      <th><%= t('family_names') %></th>
      <th><%= t('given_names') %></th>
      <th><%= t('preferred_name') %></th>
      <th><%= t('date_of_birth') %></th>
      <th><%= t('status') %></th>
      <th><%= t('gender') %></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @children.each do |child| %>
      <tr>
        <td><%= child.code %></td>
        <td><%= child.family.try(:community).try(:code) %> - <%= child.family.try(:name) %></td>
        <td><%= child.family_name1 %> <%= child.family_name2 %></td>
        <td><%= child.given_name1 %> <%= child.given_name2 %></td>
        <td><%= child.preferred_name %></td>
        <td><%= child.dob %></td>
        <td><%= Child::STATUSES_MAP[child.status] %></td>
        <td><%= Child::GENDERS_MAP[child.gender] %></td>
        <td><%= link_to t('show'), child %></td>
      </tr>
    <% end %>
  </tbody>
</table>
