<h1>Listing Children</h1>

<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Family</th>
      <th>Given Name1</th>
      <th>Given Name2</th>
      <th>Family Name1</th>
      <th>Family Name2</th>
      <th>Preferred Name</th>
      <th>DOB</th>
      <th>Status</th>
      <th>Gender</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @children.each do |child| %>
      <tr>
        <td><%= child.code %></td>
        <td><%= child.family_id %></td>
        <td><%= child.given_name1 %></td>
        <td><%= child.given_name2 %></td>
        <td><%= child.family_name1 %></td>
        <td><%= child.family_name2 %></td>
        <td><%= child.preferred_name %></td>
        <td><%= child.dob %></td>
        <td><%= child.status %></td>
        <td><%= child.gender %></td>
        <td><%= link_to 'Show', child %></td>
        <td><%= link_to 'Edit', edit_child_path(child) %></td>
        <td><%= link_to 'Destroy', child, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Child', new_child_path %>
