<%= link_to 'Edit', edit_child_path(@child) %> |
<%= link_to 'Home', {controller: :welcome, action: :index} %> |
<%= link_to 'Family', @child.family %>

<h1><%=t('child')%></h1>

<p id="notice"><%= notice %></p>

<p>
  <strong><%=t('code')%>:</strong>
  <%= @child.code %>
</p>

<p>
  <strong><%=t('family')%>:</strong>
  <%= link_to "#{@child.family.try(:community).try(:code)} - #{@child.family.try(:name)}", @child.family %>
</p>

<p>
  <strong><%=t('family_names')%>:</strong>
  <%= @child.family_name1 %> <%= @child.family_name2 %>
</p>

<p>
  <strong><%=t('given_names')%>:</strong>
  <%= @child.given_name1 %> <%= @child.given_name2 %>
</p>

<p>
  <strong><%=t('preferred_name')%>:</strong>
  <%= @child.preferred_name %>
</p>

<p>
  <strong><%=t('date_of_birth')%>:</strong>
  <%= @child.dob %>
</p>

<p>
  <strong><%=t('status')%>:</strong>
  <%= Child::STATUSES_MAP[@child.status] %>
</p>

<p>
  <strong><%=t('gender')%>:</strong>
  <%= Child::GENDERS_MAP[@child.gender] %>
</p>

<p>
  <strong><%=t('notes')%>:</strong>
  <%= @child.notes %>
</p>
