<%= link_to 'Edit', edit_child_path(@child) %> |
<%= link_to 'Home', {controller: :welcome, action: :index} %> |
<%= link_to 'Family', @child.family %>

<h1>Child</h1>

<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @child.code %>
</p>

<p>
  <strong>Family:</strong>
  <%= link_to "#{@child.family.try(:community).try(:code)} - #{@child.family.try(:name)}", @child.family %>
</p>

<p>
  <strong>Family Names:</strong>
  <%= @child.family_name1 %> <%= @child.family_name2 %>
</p>

<p>
  <strong>Given Names:</strong>
  <%= @child.given_name1 %> <%= @child.given_name2 %>
</p>

<p>
  <strong>Preferred Name:</strong>
  <%= @child.preferred_name %>
</p>

<p>
  <strong>Date of Birth:</strong>
  <%= @child.dob %>
</p>

<p>
  <strong>Status:</strong>
  <%= Child::STATUSES_MAP[@child.status] %>
</p>

<p>
  <strong>Gender:</strong>
  <%= Child::GENDERS_MAP[@child.gender] %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @child.notes %>
</p>
