<%= link_to 'New', new_family_path %> | <%= link_to 'Home', {controller: :welcome, action: :index} %>

<h1>Families</h1>

<table border=1 cellpadding=10>
  <thead>
    <tr>
      <th>Community</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @families.each do |family| %>
      <tr>
        <td><%= "#{family.community.try(:code)}" %></td>
        <td><%= family.name %></td>
        <td><%= link_to 'Show', family %></td>
        <td><%= link_to 'Edit', edit_family_path(family) %></td>
        <td><%= link_to 'Destroy', family, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
