<html>
<%= form_tag(controller: "welcome", action: "login", method: "post") %>
<h1><%= tr('login') %></h1>
  <%= label_tag(:username, tr("username")) %>:
  <%= text_field_tag(:username) %> <br>
  <%= label_tag(:password, tr("password")) %>:
  <%= password_field_tag(:password) %> <br>
  <br>
  <%= submit_tag(tr("submit")) %>
</html>
