<%= link_to 'New', new_sponsor_path %> | <%= link_to 'Home', {controller: :welcome, action: :index} %>

<h1>Sponsors</h1>

<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Donor Number</th>
      <th>Given Name</th>
      <th>Family Name</th>
      <th>Link</th>
      <th>City</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @sponsors.each do |sponsor| %>
      <tr>
        <td><%= sponsor.code %></td>
        <td><%= sponsor.donor_number %></td>
        <td><%= sponsor.given_name %></td>
        <td><%= sponsor.family_name %></td>
        <td><%= sponsor.link %></td>
        <td><%= sponsor.city %></td>
        <td><%= link_to 'Show', sponsor %></td>
      </tr>
    <% end %>
  </tbody>
</table>
