<%= link_to tr('new'), new_sponsor_path %> :: <%= link_to tr('home'), {controller: :welcome, action: :index} %>

<h1><%= tr("sponsors") %></h1>

<table>
  <thead>
    <tr>
      <th><%= tr('code') %></th>
      <th><%= tr('given_name') %></th>
      <th><%= tr('family_name') %></th>
      <th><%= tr('city') %></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @sponsors.each do |sponsor| %>
      <tr>
        <td><%= sponsor.code %></td>
        <td><%= sponsor.given_name %></td>
        <td><%= sponsor.family_name %></td>
        <td><%= sponsor.city %></td>
        <td><%= link_to tr('show'), sponsor %></td>
      </tr>
    <% end %>
  </tbody>
</table>
