<%= link_to 'Edit', edit_sponsor_path(@sponsor) %> |
<%= link_to 'Home', {controller: :welcome, action: :index} %> |
<%= link_to 'Sponsors', {controller: :sponsors, action: :index} %>

<h1>Sponsor</h1>

<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @sponsor.code %>
</p>

<p>
  <strong>Donor Number:</strong>
  <%= @sponsor.donor_number %>
</p>

<p>
  <strong>Given Name:</strong>
  <%= @sponsor.given_name %>
</p>

<p>
  <strong>Family Name:</strong>
  <%= @sponsor.family_name %>
</p>

<p>
  <strong>Link:</strong>
  <%= @sponsor.link %>
</p>

<p>
  <strong>Street Address:</strong>
  <%= @sponsor.street_address %>
</p>

<p>
  <strong>City:</strong>
  <%= @sponsor.city %>
</p>

<p>
  <strong>Postal Code:</strong>
  <%= @sponsor.postal_code %>
</p>

<p>
  <strong>Primary Email:</strong>
  <%= @sponsor.primary_email %>
</p>

<p>
  <strong>Secondary Email:</strong>
  <%= @sponsor.secondary_email %>
</p>

<p>
  <strong>Primary Phone:</strong>
  <%= @sponsor.primary_phone %>
</p>

<p>
  <strong>Secondary Phone:</strong>
  <%= @sponsor.secondary_phone %>
</p>
<br>

<h3>Sponsorships</h3>
<%= link_to 'New', {controller: :sponsorships, action: :new, sponsor_id: @sponsor.id} %>

<% if @sponsorships.present? %>
<table>
  <thead>
    <tr>
      <th>School Year</th>
      <th>Number of Children</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @sponsorships.each do |sponsorship| %>
      <tr>
        <td><%= sponsorship.school_year %></td>
        <td><%= sponsorship.number_children %></td>
        <td><%= link_to 'Show', sponsorship %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>
