<%= form_for(@enrollment) do |f| %>
  <div class="actions">
    <%= f.submit %>
  </div>

  <% if @enrollment.errors.any? %>
    <div id="error_explanation">
      <h2><%= tr("record_not_saved") %></h2>

      <ul>
      <% @enrollment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <strong><%= tr("child") %>:</strong>
    <%= link_to @enrollment.child.try(:code), @enrollment.child %>
    <%= f.hidden_field :child_id, value: @enrollment.child_id %>
  </p>

  <div class="field">
    <%= f.label :school_year, tr('school_year') %><br>
    <%= f.text_field :school_year %>
  </div>

  <% if @user && @user.can_access_sponsor? %>
  <div class="field">
    <%
    sponsors_array = Sponsor.all.order(code: :asc).map{|c| ["#{c.code} - #{c.given_name} #{c.family_name}", c.id]}
    sponsors_array.insert(0, ["", nil])
    %>
    <%= f.label :sponsor_id, tr('sponsor') %><br><%= f.select(:sponsor_id, sponsors_array) %>
  </div>
  <% end %>
  <div style="clear:both;"></div>
  <%
  newyear_shirt_sizes_array = Enrollment.shirt_sizes_to_code(self)
  newyear_shirt_sizes_array.insert(0, ["", nil])
  %>
  <div class="field float">
  <%= f.label :newyear_shirt_size, tr('newyear_shirt_size') %><br><%= f.select(:newyear_shirt_size, newyear_shirt_sizes_array) %>
  </div>
  <%
  newyear_pant_sizes_array = Enrollment.pant_sizes_to_code(self)
  newyear_pant_sizes_array.insert(0, ["", nil])
  %>
  <div class="field float">
  <%= f.label :newyear_pant_size, tr('newyear_pant_size') %><br><%= f.select(:newyear_pant_size, newyear_pant_sizes_array) %>
  </div>
  <%
  newyear_shoe_sizes_array = Enrollment.shoe_sizes_to_code(self)
  newyear_shoe_sizes_array.insert(0, ["", nil])
  %>
  <div class="field float">
  <%= f.label :newyear_shoe_size, tr('newyear_shoe_size') %><br><%= f.select(:newyear_shoe_size, newyear_shoe_sizes_array) %>
  </div>
  <%
  midyear_shirt_sizes_array = Enrollment.shirt_sizes_to_code(self)
  midyear_shirt_sizes_array.insert(0, ["", nil])
  %>
  <div style="clear:both;"></div>
  <div class="field float">
  <%= f.label :midyear_shirt_size, tr('midyear_shirt_size') %><br><%= f.select(:midyear_shirt_size, midyear_shirt_sizes_array) %>
  </div>
  <%
  midyear_pant_sizes_array = Enrollment.pant_sizes_to_code(self)
  midyear_pant_sizes_array.insert(0, ["", nil])
  %>
  <div class="field float">
  <%= f.label :midyear_pant_size, tr('midyear_pant_size') %><br><%= f.select(:midyear_pant_size, midyear_pant_sizes_array) %>
  </div>
  <%
  midyear_shoe_sizes_array = Enrollment.shoe_sizes_to_code(self)
  midyear_shoe_sizes_array.insert(0, ["", nil])
  %>
  <div class="field float">
  <%= f.label :midyear_shoe_size, tr('midyear_shoe_size') %><br><%= f.select(:midyear_shoe_size, midyear_shoe_sizes_array) %>
  </div>
  <div style="clear:both;"></div>
  <%
  newyear_attendance_array = Enrollment.attendance_to_code(self)
  newyear_attendance_array.insert(0, ["", nil])
  %>
  <div class="field float">
  <%= f.label :gender, tr('newyear_attendance') %><br><%= f.select(:newyear_attendance, newyear_attendance_array) %>
  </div>
  <%
  midyear_attendance_array = Enrollment.attendance_to_code(self)
  midyear_attendance_array.insert(0, ["", nil])
  %>
  <div class="field float">
  <%= f.label :gender, tr('midyear_attendance') %><br><%= f.select(:midyear_attendance, midyear_attendance_array) %>
  </div>  
  <div style="clear:both;"></div>
  <div class="field float">
    <%= f.label :report_card, tr('report_card')%><br><%= f.check_box :report_card %>
  </div>
  <div class="field float">
    <%= f.label :work_form, tr('work_form') %><br><%= f.check_box :work_form %>
  </div>
  <div class="field float">
    <%= f.label :pass, tr('pass') %><br><%= f.check_box :pass %> 
  </div>  
  <div class="field float">
    <%= f.label :letter, tr("letter") %><br><%= f.check_box :letter %>
  </div>
  <div class="field float">
    <%= f.label :not_included, tr('not_included') %><br><%= f.check_box :not_included %>
  </div>
  
  <div style="clear:both;"></div>
  <%
  grades_array = Enrollment.grades_to_code(self)
  grades_array.insert(0, ["", nil])
  %>
  <div class="field float">
  <%= f.label :newyear_grade, tr('newyear_grade') %><br><%= f.select(:newyear_grade, grades_array) %>
  </div>
  <div class="field float">
    <%= f.label :midyear_grade, tr('midyear_grade') %><br><%= f.select(:midyear_grade, grades_array) %>
  </div>
  <div style="clear:both;"></div>  
  <div class="field">
    <%= f.label :close_up_photo, tr("close_up_photo") %><br>
    <%= f.text_field :close_up_photo %>
  </div>
  <div class="field">
    <%= f.label :full_photo, tr("full_photo") %><br>
    <%= f.text_field :full_photo %>
  </div>
  <div class="field">
    <%= f.label :notes, tr('notes') %><br>
    <%= f.text_area :notes, cols: 40, rows: 5 %>
  </div>
<% end %>
