<%= link_to tr('show'), @enrollment %> ::
<%= link_to tr('home'), {controller: :welcome, action: :index} %>

<h1><%= tr("enrollment") %></h1>

<%= render 'form' %>
<% if @user && @user.can_delete_record? %>
<div class="delete-record"><%= link_to tr('destroy'), @enrollment, method: :delete, data: { confirm: tr('confirm_destroy') } %></div>
<% end %>
