<%= link_to 'New', new_sponsorship_path %> | <%= link_to 'Home', {controller: :welcome, action: :index} %>

<h1>Sponsorships</h1>

<table>
  <thead>
    <tr>
      <th>School Year</th>
      <th>Sponsor</th>
      <th>Number of Children</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @sponsorships.each do |sponsorship| %>
      <tr>
        <td><%= sponsorship.school_year %></td>
        <td><%= "#{sponsorship.try(:sponsor).try(:code)} - #{sponsorship.try(:sponsor).try(:given_name)} #{sponsorship.try(:sponsor).try(:family_name)}" %></td>
        <td><%= sponsorship.number_children %></td>
        <td><%= link_to 'Show', sponsorship %></td>
      </tr>
    <% end %>
  </tbody>
</table>
