<%= link_to tr('new'), new_sponsorship_path %> :: <%= link_to tr('home'), {controller: :welcome, action: :index} %>

<h1><%= tr('sponsorships') %></h1>

<table>
  <thead>
    <tr>
      <th><%= tr('school_year') %></th>
      <th><%= tr('sponsor') %></th>
      <th><%= tr('number_children') %></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @sponsorships.each do |sponsorship| %>
      <tr>
        <td><%= sponsorship.school_year %></td>
        <td><%= "#{sponsorship.try(:sponsor).try(:code)} - #{sponsorship.try(:sponsor).try(:given_name)} #{sponsorship.try(:sponsor).try(:family_name)}" %></td>
        <td><%= sponsorship.number_children %></td>
        <td><%= link_to tr('show'), sponsorship %></td>
      </tr>
    <% end %>
  </tbody>
</table>
