<%= link_to 'Edit', edit_sponsorship_path(@sponsorship) %> |
<%= link_to 'Home', {controller: :welcome, action: :index} %> |
<%= link_to 'Sponsor', @sponsor %>

<h1>Sponsorship</h1>

<p id="notice"><%= notice %></p>

<p>
  <strong>School Year:</strong>
  <%= @sponsorship.school_year %>
</p>

<p>
  <strong>Sponsor:</strong>
  <%= link_to "#{@sponsor.try(:code)} - #{@sponsor.try(:given_name)} #{@sponsor.try(:family_name)}", @sponsor %>
</p>

<p>
  <strong>Number of Children:</strong>
  <%= @sponsorship.number_children %>
</p>

<p>
  <strong>Dollar Amount:</strong>
  <%= @sponsorship.dollar_amount %>
</p>
