<%= form_for(@family_year) do |f| %>
  <% if @family_year.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@family_year.errors.count, "error") %> prohibited this family_year from being saved:</h2>

      <ul>
      <% @family_year.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :community_id %><br>
    <%= f.number_field :community_id %>
  </div>
  <div class="field">
    <%= f.label :family_id %><br>
    <%= f.number_field :family_id %>
  </div>
  <div class="field">
    <%= f.label :school_year %><br>
    <%= f.text_field :school_year %>
  </div>
  <div class="field">
    <%= f.label :picture %><br>
    <%= f.text_field :picture %>
  </div>
  <div class="field">
    <%= f.label :notes %><br>
    <%= f.text_field :notes %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
