<%= link_to 'Show', family_year_path(@family_year) %> |
<%= link_to 'Home', {controller: :welcome, action: :index} %> |
<%= link_to 'Family', @family_year.family %>

<h1>Editing Family Year</h1>

<%= render 'form' %>
<% if @user && @user.can_delete_record? %>
<div class="delete-record"><%= link_to t('destroy'), @family_year, method: :delete, data: { confirm: t('confirm_destroy') } %></div>
<% end %>
