<%= link_to tr('home'), {controller: :welcome, action: :index} %>

<h1><%= tr("family_years") %></h1>

<table>
  <thead>
    <tr>
      <th><%= tr("family") %></th>
      <th><%= tr("school_year") %></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @family_years.each do |family_year| %>
      <tr>
        <td><%= family_year.family.try(:community).try(:code) %> - <%= family_year.family.try(:name) %></td>
        <td><%= family_year.school_year %></td>
        <td><%= link_to tr('show'), family_year %></td>
      </tr>
    <% end %>
  </tbody>
</table>
