<%= link_to tr('edit'), edit_family_year_path(@family_year) %> |
<%= link_to tr('home'), {controller: :welcome, action: :index} %> |
<%= link_to tr('family'), @family_year.family %>

<h1><%= tr('family_year') %></h1>

<p id="notice"><%= notice %></p>

<p>
  <strong><%= tr('family') %>:</strong>
  <%= link_to "#{@family.try(:community).try(:code)} - #{@family.try(:name)}", @family %>
</p>

<p>
  <strong><%= tr('school_year') %>:</strong>
  <%= @family_year.school_year %>
</p>

<p>
  <strong><%= tr('picture') %>:</strong>
  <%= @family_year.picture %>
</p>

<% if @user.can_access_interview_notes? %>
<p>
  <strong><%= tr('notes') %>:</strong>
  <%= @family_year.notes %>
</p>
<% end %>
