<%= link_to 'Edit', edit_family_year_path(@family_year) %> |
<%= link_to 'Home', {controller: :welcome, action: :index} %> |
<%= link_to 'Family', @family_year.family %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Family:</strong>
  <%= link_to "#{@family.try(:community).try(:code)} - #{@family.try(:name)}", @family %>
</p>

<p>
  <strong>School Year:</strong>
  <%= @family_year.school_year %>
</p>

<p>
  <strong>Picture:</strong>
  <%= @family_year.picture %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @family_year.notes %>
</p>
