<h1><%= tr('community') %></h1>

<p id="notice"><%= notice %></p>

<p>
  <strong><%= tr('name') %>:</strong>
  <%= @community.name %>
</p>

<p>
  <strong><%= tr('next_code') %>:</strong>
  <%= @community.code %><%= @next_code %>
</p>
