<%= link_to 'Edit', edit_community_path(@community) %> |
<%= link_to 'Home', {controller: :welcome, action: :index} %> |
<%= link_to 'Communities', {controller: :communities, action: :index} %>

<h1>Community</h1>

<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @community.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @community.name %>
</p>

<br>

<h3>Families</h3>
<%= link_to 'New', {controller: :families, action: :new, community_id: @community.id} %>

<% if @families.present? %>
<table border=1 cellpadding=10>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @families.each do |family| %>
      <tr>
        <td><%= family.name %></td>
        <td><%= link_to 'Show', family %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>



<h3>Children</h3>

<% if @children.present? %>
<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Family</th>
      <th>Family Names</th>
      <th>Given Names</th>
      <th>Preferred Name</th>
      <th>Date of Birth</th>
      <th>Status</th>
      <th>Gender</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @children.each do |child| %>
      <tr>
        <td><%= child.code %></td>
        <td><%= child.family.try(:community).try(:code) %> - <%= child.family.try(:name) %></td>
        <td><%= child.family_name1 %> <%= child.family_name2 %></td>
        <td><%= child.given_name1 %> <%= child.given_name2 %></td>
        <td><%= child.preferred_name %></td>
        <td><%= child.dob %></td>
        <td><%= Child::STATUSES_MAP[child.status] %></td>
        <td><%= Child::GENDERS_MAP[child.gender] %></td>
        <td><%= link_to 'Show', child %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>
