<%= link_to 'Edit', edit_community_path(@community) %> |
<%= link_to 'Home', {controller: :welcome, action: :index} %> |
<%= link_to 'Communities', {controller: :communities, action: :index} %>

<h1>Community</h1>

<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @community.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @community.name %>
</p>

<br>

<h3>Families</h3>
<%= link_to 'New', {controller: :families, action: :new, community_id: @community.id} %>

<% if @families.present? %>
<table border=1 cellpadding=10>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @families.each do |family| %>
      <tr>
        <td><%= family.name %></td>
        <td><%= link_to 'Show', family %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% end %>
