<!DOCTYPE html>
<html>
<head>
  <title>Costa Rica Kids</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div><a href="/"><img src="/crk.png" height="100px"></a></div>
<% if @user %>
<span class="userinfo"><%= @user.role.capitalize %> // </span>
<% end %>
<%= yield %>
<p style="font-style: italic; font-size: 10px">
  Costa Rica Kids School Sponsorship Program<br>
  &copy; 2015 Foursquare Gospel Church of Canada</p>
</body>
</html>
